/* responsive background image */
.responsive-image1
{
	width: 100%;
	height: 300px;
	background-image: url(image.jpg);
	background-size: cover;
	background-position: center;
}

.responsive-image2
{
	width: 100%;
	padding-bottom: 50%;
	background-image: url(image.jpg);
	background-size: cover;
	background-position: center;
}
