/* responsive type */

@media (min-width:700px)
{
	body { font-size: 120%; }
}

@media (min-width:800px)
{
	body { font-size: 140%; }
}

@media (min-width:900px)
{
	body { font-size: 160%; }
}

@media (min-width:1000px)
{
	body { font-size: 180%; }
}

@media (min-width:1100px)
{
	body { font-size: 200%; }
}
