/* -----------------------------------
predefined styles
----------------------------------- */

body
{
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	font: 140%/1 helvetica, arial, sans-serif;
}

.img-left { float: left; }
.img-right { float: right; }

/* -----------------------------------
base layout
----------------------------------- */


/* -----------------------------------
narrow
----------------------------------- */


/* -----------------------------------
medium
----------------------------------- */


/* -----------------------------------
wide
----------------------------------- */

